__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
trash_env/
env.bak/
venv.bak/
.ipynb_checkpoints
trash_detection/models/*
trash_detection/data/images/*
trash_detection/data/labels/*
trash_detection/app/static/uploads/*
